@(message: String)

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Luxury Gold, free responsive template</title>
        <meta name="description" content="">
        <meta name="author" content="templatemo">
            <!--
        Luxury Gold Template
        http://www.templatemo.com/preview/templatemo_456_luxury_gold
        -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/font-awesome.min.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/templatemo-style.css")">

            <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>
            <!-- Header -->
        <div class="templatemo-container">
            <div class="templatemo-block-left">
                <div class="templatemo-header-left">
                    <div class="templatemo-header-text-wrap">
                        <div class="templatemo-header-text">
                            <h1 class="text-uppercase templatemo-site-name">CV NA <span class="gold-text"><b>5</b></span></h1>
                            <hr class="templatemo-header-hr">
                            <p class="text-uppercase templatemo-slogan">Stwórz najelpsze cv w sieci</p>
                        </div>
                    </div>
                    <div class="templatemo-header-left-overlay"></div>
                </div>
            </div>
            <div class="templatemo-block-right">
                <div class="templatemo-header-right">
                    <div class="templatemo-header-right-overlay"></div>
                    <div class="mobile-menu-icon">
                        <i class="fa fa-bars"></i>
                    </div>
                </div>
            </div>
        </div> <!-- end Header -->

        <!-- "New Arrivals" -->
        <section class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="text-uppercase">Wybierz wzór</h2>
                    <hr class="templatemo-section-header-hr">
                    <p class="text-uppercase templatemo-section-subheader">CV na wymiar</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
                    <div class="new-arrival-container">
                        <div class="new-arrival-overlay">
                            <h3 class="text-uppercase new-arrival-title">
                                <span>Klasyczne</span>
                            </h3>
                        </div>
                        <img src="@routes.Assets.at("img/new-arrival-1.jpg")" alt="New Arrival 1" class="img-responsive">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
                    <div class="new-arrival-container">
                        <div class="new-arrival-overlay">
                            <h3 class="text-uppercase new-arrival-title">
                                <span>Nowoczesne</span>
                            </h3>
                        </div>
                        <img src="@routes.Assets.at("img/new-arrival-2.jpg")" alt="New Arrival 2" class="img-responsive">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
                    <div class="new-arrival-container">
                        <div class="new-arrival-overlay">
                            <h3 class="text-uppercase new-arrival-title">
                                <span>Ekstrawaganckie</span>
                            </h3>
                        </div>
                        <img src="@routes.Assets.at("img/new-arrival-3.jpg")" alt="New Arrival 3" class="img-responsive">
                    </div>
                </div>
            </div>
        </section> <!-- end "New Arrivals" -->





        <!-- "About Us" -->
        <section class="templatemo-dark-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="text-uppercase gold-text">O mnie</h2>
                        <hr class="templatemo-about-hr">
                        <p class="templatemo-about-subtitle">GitHub</p>
                        <hr class="templatemo-about-hr"><br>
                        <hr class="templatemo-about-hr">
                        <p class="templatemo-about-subtitle">LinkedIn</p>
                        <hr class="templatemo-about-hr"><br>

                    </div>
                </div>
            </div>
        </section> <!-- end "About Us" -->

        <footer class="text-center">
            <p class="text-uppercase">
            	Copyright &copy; 2084 Company Name
                | Design: <a href="http://www.templatemo.com">template mo</a>
            </p>
        </footer>

            <!-- JS -->

        <script src="@routes.Assets.at("javascripts/jquery-1.11.2.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/templatemo-script.js")" type="text/javascript"></script>

    </body>
</html>
